<!-- {% assign presentations = site.data.presentations %} -->

{% if site.data.presentations %}
<section class="section publications-section">

  <h2 class="section-title"><i class="fa fa-file-text"></i>国际学术会议交流</h2>

  {% if site.data.presentations.intro %}
  <div class="intro">
      <p>{{ site.data.presentations.intro }}</p>
  </div><!--//intro-->
  {% endif %}

<!--    {% for publication in presentations %}
  <div class="item">
    <div class="publication-title">{{ publication.title }}</div>
    <div class="publication-authors">{{ publication.authors }}</div>
    <div class="publication-conference">{{ publication.conference }}</div>
  </div>
  {% endfor %}
 -->
  
<!-- add new items here -->  
  <div class="item">
  	<div class="publication-title">{{ "Seasonal risk assessment of water-electricity nexus under environmental policy constraint：Reliability, Resilience, and Vulnerability" }}</div>
  	<div class="publication-authors">{{ 
    "Mengfei Mu, Zhenxing Zhang, Ximing Cai, Qiuhong Tang"
     }}</div>
  	<div class="publication-conference">{{ 

      "2019.09, 2019年中美水资源安全会议，口头报告，中国北京"

     }}</div>	
	  
<p>	  
<div class="item">
  	<div class="publication-title">{{ "A decentralized optimization model to improve reliability of thermoelectricity supply during low flow and drought events" }}</div>
  	<div class="publication-authors">{{ "Mengfei Mu, Zhenxing Zhang, Ximing Cai, Qiuhong Tang" }}</div>
  	<div class="publication-conference">{{ 

    "2018.12, 2018年美国地球物理学会秋季大会，海报展示，美国华盛顿特区"

     }}</div>	

  <p>
  <div class="item">
  	<div class="publication-title">{{ "Deriving Area­-storage Curves of Global Reservoirs" }}</div>
  	<div class="publication-authors">{{ "Mengfei Mu, Qiuhong Tang, Huijuan Cui" }}</div>
  	<div class="publication-conference">{{ 

    "2017.12, 2017年美国地球物理学会秋季大会，海报展示，美国新奥尔良" 
    }}</div>
  <p>	 
  <div class="item">
  	<div class="publication-title">{{ "Agricultural water use accounting and impact assessment on the water system in China" }}</div>
  	<div class="publication-authors">{{ 

    "Mengfei Mu, Qiuhong Tang, Ximing Cai, Siao Sun, Huijuan Cui"

     }}</div>
  	<div class="publication-conference">{{ 
        2016.08, 第13届亚洲大洋洲地球科学会议，海报展示，北京
    }}</div>

        <div class="publication-conference">{{ 
        
        2016.09, 第9届中日韩研究生论坛，口头报告（优秀奖），韩国大田 \n
    }}</div>

        <div class="publication-conference">{{ 
        2017.01, 第九届全球水资源与环境大会（IPWE-ASCE），中国湖北武汉
    }}</div>
<!--     <div class="publication-conference">{{ "Jan 2017, Oral, 9th IPWE-ASCE, Wuhan, China"}}</div>
	<div class="publication-conference">{{ "Aug 2016, Poster, 13th AOGS Conference, Beijing, China"}}</div> -->

</section><!--//section-->
{% endif %}
