{% if site.data.publications %}
<section class="section publications-section">

  <h2 class="section-title"><i class="fa fa-file-text"></i>Publications</h2>

  {% if site.data.publications.intro %}
  <div class="intro">
      <p>{{ site.data.publications.intro }}</p>
  </div><!--//intro-->
  {% endif %}
<!-- add new publications here -->
  
  <p>
  <div class="item">
  	<div class="publication-authors"> 
     <b>Mu, M.</b>, Zhang, Z., Cai, X., Tang, Q., 2019. 
     A water-electricity nexus model to analyze thermoelectricity supply reliability under environmental regulations and economic penalties during drought events. Environmental Modelling & Software. 
    <br/>
    <a href="https://doi.org/10.1016/j.envsoft.2019.104514 " 
       target="_blank" 
       title="doi link">
       DOI: 10.1016/j.envsoft.2019.104514 
       </a></div>
  </p>
  
  
    <p>
  <div class="item">
  	<div class="publication-authors"> 
      Wang, Y., Zhang, X., Tang, Q., <b> Mu, M. </b>, Zhang, C., Lv, A., Jia, S., 2019. Assessing flood risk in Baiyangdian Lake area in a changing climate using an integrated hydrological-hydrodynamic modelling. Hydrological Sciences Journal. Accepted <br/>
    <a href="https://www.tandfonline.com/doi/full/10.1080/02626667.2019.1657577" 
       target="_blank" 
       title="doi link">
       DOI: 10.1080/02626667.2019.1657577
       </a></div>
  </p>
  
  <p>
  <div class="item">
  	<div class="publication-authors"> 
      Tang, Q., Zhang, X., Qi, Y., Chen, S., Jia, G.,<b> Mu, M.</b>, Yang, J., Yang, Q., Huang, X., Yun, X., Liu, X., Huang, Z., Tang, Y., 2019. Remote Sensing of the Terrestrial Water Cycle: Progress and Perspectives. Wuhan Daxue Xuebao (Xinxi Kexue Ban)/Geomatics and Information Science of Wuhan University.
      (In Chinese)
      <br/>
      汤秋鸿, 张学君, 戚友存, 陈少辉, 贾国强, <b>穆梦斐</b>, 杨杰, 杨其全, 黄昕, 运晓博, 刘星才, 黄忠伟, 唐寅, 2018. 遥感陆地水循环的进展与展望. 武汉大学学报信息科学版 43, 1872.
    <a href="https://www.cnki.net/kcms/doi/10.13203/j.whugis20180174.html" 
       target="_blank" 
       title="doi link">
       DOI: 10.13203/j.whugis20180174
      </a></div>
  </p>
  
  <p>
  <div class="item">
  	<div class="publication-authors"> 
      Liu, X., Tang, Q., Cui, H., <b> Mu, M. </b>, Gerten, D., Gosling, S.N., Masaki, Y., Satoh, Y., Wada, Y., 2017. Multimodel uncertainty changes in simulated river flows induced by human impact parameterizations. Environmental Research Letters 12, 025009. <br/>
    <a href="https://doi.org/10.1088/1748-9326/aa5a3a" 
       target="_blank"
       title="doi link">
       DOI: 10.1088/1748-9326/aa5a3a
     </a></div>
  </p>

  <p>
  <div class="item">
    <div class="publication-authors"> 
      Tang, Q., Huang, Z., Liu, X., Han, S., Leng, G., Zhang, X., <b> Mu, M. </b>, 2015. Impacts of human water use on the large scale terrestrial water cycle. Advances in Earth Science 30, 1091–1099. (in Chinese) <br/>
    汤秋鸿, 黄忠伟, 刘星才, 韩松俊, 冷国勇, 张学君, <b> 穆梦斐 </b>, 2015. 人类用水活动对大尺度陆地水循环的影响. 地球科学进展, 30(10), 1091-1099. <br/>
    <a href="http://www.adearth.ac.cn/CN/Y2015/V30/I10/1091"
       target="_blank" 
       title="doi link">
       http://www.adearth.ac.cn/CN/Y2015/V30/I10/1091
    </a></div>
  </p>


</section><!--//section-->
{% endif %}
